doctype html
html
  head
    title Agalma Web Appliance
    link(rel='stylesheet' href='/css/bootstrap.min.css' media='screen')
    style.
      body {
       background-color: rgb(221, 221, 221);
      }
      a {
       color: rgb(49, 112, 143);
      }
      div.header {
       color: rgb(128, 128, 128);
       border-bottom: 1px solid rgb(153, 153, 153);
      }
      div.footer {
       font-size: 80%;
       color: rgb(128, 128, 128);
       border-top: 1px solid rgb(153, 153, 153);
       padding-top: 20px;
      }
      span.glyphicon {
       color: rgb(49, 112, 143);
       font-size: 150%;
      }
      h1 {
       font-size: 110%;
       font-weight: 400;
       text-transform: uppercase;
       margin: 6px 0 2px 0;
      }
      div#content {
       background-color: white;
       padding: 20px 0 20px 0;
      }
      pre#console {
       height: 350px;
       width: 100%;
       overflow-y: scroll;
       white-space: pre-wrap;       /* css-3 */
       white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
       white-space: -pre-wrap;      /* Opera 4-6 */
       white-space: -o-pre-wrap;    /* Opera 7 */
       word-wrap: break-word;       /* Internet Explorer 5.5+ */
       background-color: black;
       color: white;
       margin: 0;
       border: 0;
       border-top-left-radius: 0;
       border-top-right-radius: 0;
      }
      .middle {
       display: inline-block;
       vertical-align: middle;
      }
    script(src='/js/jquery.min.js')
    script(src='/js/plupload.full.min.js')
  body
    div.header
      div.container
        div.middle
          h1
            span.glyphicon.glyphicon-cloud
        div.middle
          h1
            b &nbsp; Agalma
            |  Web Appliance
    div#content
      div.container.text-center
        p.lead
          a(href='https://bitbucket.org/caseywdunn/agalma')
            b Agalma
          |  is an automated pipeline for transcriptome assembly and
          | phylogenomic analyses.
          br
          small
            | This cloud-backed appliance performs a single transcriptome assembly
            |  of uploaded Illumina data and delivers a detailed HTML report.
        block content
    div.footer
      div.container
        div.row
          div.col-md-3
            p
              b Revision 
              tt= gitversion
              b  of the Agalma Web Appliance, including third-party software:
            ul.list-unstyled
              li Agalma/0.5.0
              li BioLite/0.5.0
              li BLAST/2.2.29+
              li bowtie/1.0.0
              li bowtie2/2.1.0
              li fastqc/0.10.1
              li parallel/20130922
              li rsem/1.2.9
              li sratoolkit/0.2.3.4-2
              li transdecoder/r2012-08-15
              li Trinity/r20140413p1
          div.col-md-9
            p
              b Please cite Agalma as:
            p Dunn CW, Howison M, Zapata F. 2013. Agalma: an automated phylogenomics workflow. BMC Bioinformatics 14(1): 330. doi:10.1186/1471-2105-14-330
            p
              b The following software is integral to transcriptome assembly in Agalma and should also be cited:
            p Howison M, Sinnott-Armstrong N, Dunn CW. 2012. BioLite, a lightweight bioinformatics framework with automated tracking of diagnostics and provenance. In Proceedings of the 4th USENIX Workshop on the Theory and Practice of Provenance (TaPP '12), 14-15 June 2012, Boston, MA, USA
            p Andrews S. FastQC: A quality control tool for high throughput sequence data. http://www.bioinformatics.bbsrc.ac.uk/projects/fastqc/
            p Altschul SF, Madden TL, Schaffer AA, Zhang J, Zhang Z, Miller W, Lipman DJ. 1997. Gapped BLAST and PSI-BLAST: a new generation of protein database search programs. Nucl Acids Res 25(17): 3389-3402. doi:10.1093/nar/25.17.3389
            p Grabherr MG, Haas BJ, Yassour M, et al. 2011. Full-length transcriptome assembly from RNA-Seq data without a reference genome. Nat Biotech 29(7): 644-652. doi:10.1038/nbt.1883
            p Langmead B, Salzberg SL. 2012. Fast gapped-read alignment with Bowtie 2. Nature Methods 9(4): 357-359. doi:10.1038/nmeth.1923
            p Li B, Dewey CN. 2011. RSEM: accurate transcript quantification from RNA-Seq data with or without a reference genome. BMC Bioinformatics 12(1): 323. doi:10.1186/1471-2105-12-323
            p Tange, O. 2011. GNU Parallel - The Command-Line Power Tool. ;login: The USENIX Magazine 36(1): 42-47.
