extends layout

block content
  div.panel.panel-default.text-left
    div.panel-heading
      div.text-right#finished(style='display:none')
        h4(style='float:left;padding-right:1em;color:green') Finished!
        ul.nav.nav-pills
          li
            a(href='/report')
              span.glyphicon.glyphicon-list-alt.middle
              span.middle &nbsp; View Report
          li
            a(href='/report.zip')
              span.glyphicon.glyphicon-download.middle
              span.middle &nbsp; Download Report (Zipped)
          li
            a(href='/runlog.txt')
              span.glyphicon.glyphicon-download.middle
              span.middle &nbsp; Download Run Log
      form.text-right#running(method='post' action='/')
        h4#status(style='float:left') Running...
        button.btn.btn-default(type='submit' name='restart')
          span.glyphicon.glyphicon-repeat.middle
          span.middle &nbsp; Restart
        &nbsp;
        button.btn.btn-default(type='submit' name='abort')
          span.glyphicon.glyphicon-remove-circle.middle
          span.middle &nbsp; Abort
    div.panel-body(style='padding:0')
      pre#console

  script(src='/socket.io/socket.io.js')

  script(type='text/javascript').
    var socket = io.connect('/');
    socket.on('console', function(data) {
      $("#console").text($("#console").text() + data);
      $("#console").scrollTop($("#console")[0].scrollHeight);
    });
    socket.on('finished', function(data) {
      $("#running").css('display', 'none');
      $("#finished").css('display', 'block');
    });
    socket.on('error', function(data) {
      $("#status").text('Error (' + data + ')');
      $("#status").css('color', 'red');
    });

  script(src='/js/bootstrap.min.js')

