extends layout

block content
  div.middle
    span.glyphicon.glyphicon-exclamation-sign
  div.middle.text-muted
    b &nbsp; Only paired-end Illumina data is supported at this time. 
    | See 
    a(href='https://bitbucket.org/caseywdunn/agalma#markdown-header-data-requirements' target='_blank')
      Data Requirements
    |  for more details.
  hr
  form.form-horizontal#run-form(method='post', action='/')
    div.row(style='padding-bottom:10px')
      div.col-md-3
        h4 Quick Start
      div.col-md-1
      div.col-md-8
        h4 Manual Upload
    div.row
      div.col-md-3
        div.panel.panel-info
          div.panel-heading
            div.middle
              span.glyphicon.glyphicon-search
            div.middle
              b &nbsp; Step 1:
              |  Enter SRA Accession
          div.panel-body
            div.input-group
              input.form-control(type='text' value='SRR871526' name='sra' onclick='this.select()')
              span.input-group-btn
                button.btn.btn-default(type='submit') Go
            br
            p.text-muted
              b Downloads metadata and data from NCBI, then starts Agalma.
      div.col-md-1
        h5(style='color:gray') OR
      div.col-md-4
        div.panel.panel-info
          div.panel-heading
            div.middle
              span.glyphicon.glyphicon-search
            div.middle
              b &nbsp; Step 1:
              |  Enter Metadata
          div.panel-body
            input(type='hidden' name='run')
            input.form-control(type='text' placeholder='Catalog ID' name='id')
            br
            input.form-control(type='text' placeholder='Species Name' name='species')
            br
            input.form-control(type='text' placeholder='NCBI ID' name='ncbi_id')
            br
            input.form-control(type='text' placeholder='ITIS ID' name='itis_id')
      div.col-md-4
        div.panel.panel-info
          div.panel-heading
            div.middle
              span.glyphicon.glyphicon-cloud-upload
            div.middle
              b &nbsp; Step 2:
              |  Upload FASTQ Data
          div.panel-body
            div.alert.alert-danger#supported
              Your browser doesn't have Silverlight or HTML5 support.
            div#upload1
              p
                a#choosefile1(href='javascript:;')
                  b Choose FASTQ File 1 
                | or drag file here.
              div.progress
                div.progress-bar.progress-bar-info#status1(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width:0%')
            div#upload2
              p
                a#choosefile2(href='javascript:;')
                  b Choose FASTQ File 2 
                | or drag file here.
              div.progress
                div.progress-bar.progress-bar-info#status2(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width:0%')
            p.text-muted
              b Agalma will automatically start after both FASTQ uploads complete.

  script(type='text/javascript').

    var uploads = {1: false, 2: false};

    function make_uploader(i) {
      new plupload.Uploader({
        runtimes: 'html5,silverlight,html4',
        silverlight_xap_url: 'js/Moxie.xap',
        url: '/upload'+i,
        browse_button: document.getElementById('choosefile'+i),
        drop_element: document.getElementById('upload'+i),
        container: document.getElementById('upload'+i),
        chunk_size: '1mb',
        init: {
          PostInit: function() {
            document.getElementById('supported').style.display = 'none';
          },

          FilesAdded: function(up, files) {
            div = document.getElementById('status'+i);
            div.className = 'progress-bar progress-bar-info';
            div.innerHTML = '';
            div.style.width = '0%';
            div.setAttribute('aria-valuenow', 0);
            up.refresh();
            up.start();
          },

          UploadProgress: function(up, file) {
            div = document.getElementById('status'+i);
            div.innerHTML = '<b>' + file.name + '</b> / ' + plupload.formatSize(file.loaded);
            div.style.width = file.percent + '%';
            div.setAttribute('aria-valuenow', file.percent);
          },

          FileUploaded: function(up, file, info) {
            rpc = JSON.parse(info['response']);
            if (rpc.error) {
              div = document.getElementById('status'+i);
              div.className = 'progress-bar progress-bar-danger';
              div.innerHTML = 'Error! ' + rpc.error.message;
            }
            if (file.loaded == file.size) {
              div.className = 'progress-bar progress-bar-success';
              uploads[i] = true;
              if (uploads[1] && uploads[2]) {
                document.getElementById('run-form').submit();
              }
            }
          },

          ChunkUploaded: function(up, file, info) {
            rpc = JSON.parse(info['response']);
            if (rpc.error) {
              up.removeFile(file);
              up.stop();
              up.start();
            }
          },

          Error: function(up, err) {
            document.getElementById('status'+i).innerHTML = 'Error! ' + err.message;
          }
        }
      }).init();
    }

    make_uploader(1);
    make_uploader(2);

  script(src='/js/bootstrap.min.js')

